---
import Container from "@layouts/Container.astro";
import logo from "@assets/V区ロゴ/vku_b.png";
---

<footer>
    <Container>
        <div class="footer-wrapping">
            <div class="footer-logo">
                <img src={logo.src} alt="LOGO" />
            </div>
            <p><small>&copy;KANAU-LAB 2025</small></p>
        </div>
    </Container>
</footer>

<style>
    footer {
        border-top: 1px solid #333;
    }
    .footer-logo {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .footer-wrapping {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
