---
import Heading from "@components/Heading.astro";
import Container from "@layouts/Container.astro";
import movieIMG from "@assets/vku_seisakuka.png";
import TextBox from "@components/TextBox.astro";
import Images from "@components/Images.astro";
---

<!-- movieのpaddingに変化あり -->
<section id="movie">
    <Container>
        <Heading>動画制作などの依頼</Heading>
        <div class="movie-wrapping">
            <TextBox
                heading="動画制作などの依頼ができます。"
                text="V区民は格安の価格帯で、切り抜き動画編集・イラスト制作・ホームページ制作などの制作依頼ができます。"
                smallText="※依頼費用が全く無い方向けのプランもご用意しています。"
            />
            <Images src={movieIMG.src} />
        </div>
    </Container>
</section>

<style>
    #movie {
        width: 100%;
        padding-top: 4rem;
    }
    .movie-wrapping {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    @media screen and (min-width: 1280px) {
        #movie {
            padding-top: 6rem;
        }
    }
</style>
