---
import Heading from "@components/Heading.astro";
import Container from "@layouts/Container.astro";
import ankenIMG from "@assets/vku_ankenka.png";
import TextBox from "@components/TextBox.astro";
import Images from "@components/Images.astro";
---

<!-- ankenのpaddingに変化あり -->
<div id="anken">
    <Container>
        <Heading>案件</Heading>
        <div class="wrapping">
            <Images src={ankenIMG.src} alt="案件ロゴ" />
            <TextBox
                heading="案件の紹介が受けられます。"
                text="VTuberの方には「広告宣伝案件」を、クリエイターの方には「提携企業の制作案件」をご紹介します。"
                smallText="※V区民同士でコラボ、受発注も可能です。"
            />
        </div>
    </Container>
</div>
<style>
    #anken {
        width: 100%;
        padding-top: 4rem;
    }
    .wrapping {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    @media screen and (min-width: 1280px) {
        #anken {
            padding-top: 6rem;
        }
    }
</style>
