---
import Heading from "@components/Heading.astro";
import Container from "@layouts/Container.astro";
import fukushiIMG from "@assets/vku_fukushika.png";
import TextBox from "@components/TextBox.astro";
import Images from "@components/Images.astro";
---

<!-- Supportのpaddingに変化あり -->
<div id="support">
    <Container>
        <Heading>福祉サポート</Heading>
        <div class="wrapping">
            <Images src={fukushiIMG.src} />
            <TextBox
                heading="福祉サポートが受けられます。"
                text="V区民の中には、障害や病気などに向き合いながら活動されている方もいらっしゃると思います。V区福祉課では、提携福祉事業所のサポートをご紹介します。"
                smallText="※他のV区民に福祉課の利用が知られることはありません。"
            />
        </div>
    </Container>
</div>
<style>
    #support {
        width: 100%;
        padding-top: 4rem;
        /* background-color: rgb(182, 182, 182); */
    }
    .wrapping {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    @media screen and (min-width: 1280px) {
        #support {
            padding-top: 6rem;
        }
    }
</style>
