---
import Button from "@components/Button.astro";
const padding = "10px 15px";
---

<div class="headline">
    <div class="top-text">
        <h1>
            <span class="marker"
                >VTuberやクリエイターの<br
                />活動を支援するバーチャル区役所</span
            >
        </h1>
    </div>
    <p class="desc">
        「案件紹介」だけでなく「制作サポート」や「福祉サポート」など、みなさんの活動に更に寄り添ったサポートができるのがV区の強みです。
    </p>
    <div class="btn-place">
        <Button padding={padding}>Discordへ</Button>
    </div>
</div>

<style>
    .headline {
        color: white;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        position: relative;
        .top-text {
            padding: 100px 0 60px 0;
            h1 {
                /* font-size: clamp(28px, 5vw, 50px); */
                /* 1200 ~ 650 */
                /* font-size: clamp(1.75rem, 0.833rem + 3.67vw, 3rem); */
                font-size: 7vw;
                line-height: 1.5;
                width: 95%;
            }
        }
    }
    .marker {
        background: linear-gradient(transparent 60%, #f2cf39 0%);
        display: inline;
        padding: 0 5px 0;
        background-repeat: no-repeat;
        /* background-size: 0% 100%;
        animation: marker 2s ease forwards 1.5s; */
    }
    .btn-place {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 4rem;
    }
    .desc {
        width: 100%;
        /* margin-top: clamp(3%, 10%, 30px); */
        /* font-size: clamp(14px, 2vw, 20px); */
        /* font-size: clamp(0.875rem, 0.625rem + 1vw, 1.25rem); */
        font-size: 4vw;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1em 2em;
        border: 1px solid whitesmoke;
        border-radius: 2px;
    }

    /* タブレット */
    @media screen and (min-width: 768px) {
        .headline {
            padding-top: 90px;
            .top-text {
                padding: 100px 0 60px 0;
                h1 {
                    font-size: 5vw;
                    line-height: 1.8;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .btn-place {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 4rem;
            .discord-btn {
                font-size: 25px;
                padding: 15px 30px;
            }
        }

        .desc {
            width: 75%;
            margin: 0 auto;
            /* margin-top: clamp(3%, 10%, 30px); */
            /* font-size: clamp(14px, 2vw, 20px); */
            /* font-size: clamp(0.875rem, 0.625rem + 1vw, 1.25rem); */
            font-size: 2vw;
            text-align: justify;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 0.5em 1em;
            border: 1px solid whitesmoke;
            border-radius: 2px;
        }
    }
</style>
