---
// import image from "";
import Container from "@layouts/Container.astro";
import Mainvisual from "./Mainvisual.astro";
---

<div class="top">
    <Container>
        <Mainvisual />
    </Container>
</div>

<style>
    .top {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
            ),
            url("/src/assets/mianvisual.png");
        background-position: center;
        background-size: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container {
            height: 100%;
        }
    }
</style>
