/* モバイル
375 ~ 1280
h1: 7vw　26px weight 800
h2: 6vw 24px
h3: 5vw 18px
headlineP: 4vw 16px weight 400
textboxP: 3vw 14px
small: 2.5vw 12px
ボタン: 20px */

/* タブレット 768px
    h2: 5vw
    h3: 3.5vw
    textboxP: 2.5vw
*/

/* デスクトップ1280px 
    h1: 48px
*/

a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    z-index: 3;
}

:root {
    --normal: 16px;
    --normal20: 20px;
}

h1{
    font-weight: 800;
}
h2{
    font-weight: 700;
}
h3{
    font-weight:600;
}
p{
    font-weight: 400;
}
/* responsive 650px */