<form action="">
    <h2>ご相談フォーム</h2>
</form>

<style>
    form {
        padding: 5rem 0;
        text-align: left;
        h2 {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding: 1rem;
        }
    }
</style>
