<form action="">
    <h2>ご相談フォーム</h2>
    <div>
        <label for="name">お名前</label>
        <input
            id="name"
            type="text"
            name="name"
            required
            autocomplete="additional-name"
        />
    </div>
    <div>
        <label for="number">電話番号</label>
        <input
            type="tel"
            name="number"
            id="number"
            required
            autocomplete="tel"
        />
    </div>
    <div>
        <label for="email">メールアドレス</label>
        <input type="email" name="email" id="email" autocomplete="email" />
    </div>
    <div>
        <label for="address">住所エリア</label>
        <select name="address" id="address" required autocomplete="off">
            <option value="" disabled selected>選択してください</option>
            <option value="east">首都圏</option>
            <option value="west">関西圏</option>
            <option value="other">その他</option>
        </select>
    </div>
    <div>
        <label for="right-now">現状</label>
        <select name="right-now" id="right-now" required autocomplete="off">
            <option value="" disabled selected
                >あてはまるものにチェックをつけてください</option
            >
            <option value="have-med-paper">医師の診断書を持っている</option>
            <option value="have-service-paper"
                >障害福祉サービスの受給者証を持っている</option
            >
            <option value="have-med-note">障害者手帳を持っている</option>
            <option value="used-service"
                >障害福祉サービスを利用したことがある</option
            >
        </select>
    </div>
    <div>
        <label for="request"
            >ご用件
            <ul>
                <li>
                    <label for="web-explain">
                        <input
                            type="checkbox"
                            name="web-explain"
                            id="web-explain"
                            value="Web説明会希望"
                        />
                        <span>Web説明会希望</span>
                    </label>
                </li>
                <li>
                    <label for="question">
                        <input
                            type="checkbox"
                            name="question"
                            id="question"
                            value="質問・相談"
                        />
                        <span>質問・相談</span>
                    </label>
                </li>
                <li>
                    <label for="other-request">
                        <input
                            type="checkbox"
                            name="other-request"
                            id="other-request"
                            value="その他"
                        />
                        <span>その他</span>
                    </label>
                </li>
            </ul>
        </label>
    </div>
</form>

<style>
    form {
        padding: 5rem 0;
        text-align: left;
        h2 {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding: 1rem;
            padding-left: 0;
            margin-bottom: 2rem;
        }
    }

    select:has(option:checked[value=""]) {
        color: gray;
    }

    input[type="checkbox"] {
        all: revert;
    }
    input,
    select {
        display: block;
        outline: none;
        width: 100%;
        padding: 12px 0.5rem;
        font-size: 14px;
        margin-top: 10px;
    }
    input:focus {
        outline: none;
    }
    div {
        border-bottom: 1px solid black;
        margin-bottom: 1.5rem;
    }
    ul li {
        margin: 10px 0;
    }
</style>
