---
import Button from "@components/Button.astro";
import Container from "@layouts/Container.astro";
import { RiTwitterXFill } from "react-icons/ri";
---

<!-- サイズの変化なし -->
<div class="wrapping">
    <Container>
        <div class="flex">
            <p class="text">
                ①ご本人確認のため、V区のXアカウントのフォローをお願いします。数日以内にフォローバックさせていただきます。
            </p>
            <p class="arrow-bottom">↓</p>
            <p class="arrow-right">→</p>
            <p class="text">
                ②相互フォロー状態になった後、XのDMにて「V区に参加しているDiscordアカウントの名前」をお送りください。
            </p>
            <p class="arrow-right">→</p>
            <p class="arrow-bottom">↓</p>

            <p class="text">
                ③確認が取れ次第、V区のDiscord内で「V区民」ロール(権限)を付与させていただきます。
            </p>
        </div>
        <div class="btns">
            <button type="button" class="sns">
                <RiTwitterXFill size="1rem" /><span>V区のアカウント</span>
            </button>
            <Button>参加はこちらから！</Button>
        </div>
    </Container>
</div>

<style>
    .wrapping {
        padding: 4rem 0 2rem 0;
        text-align: center;
    }
    .flex {
        text-align: left;
        margin-bottom: 3rem;
        .text {
            width: 100%;
            background-color: rgb(218, 218, 218);
            font-size: 16px;
            padding: 20px;
            border-radius: 2px;
            border: 1px solid #333;
            text-align: justify;
        }
    }

    .arrow-bottom {
        text-align: center;
        padding: 1rem 0;
        font-weight: bold;
        font-size: 32px;
    }

    .arrow-right {
        display: none;
        text-align: center;
        font-weight: bold;
    }

    .sns {
        color: white;
        background: #000000;
        cursor: pointer;
        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 2px;
        border: 1px solid #333;
        display: flex;
        align-items: center;
        span {
            padding: 0 1em;
        }
    }

    .btns {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 768px) {
        .flex {
            display: flex;
        }
        .arrow-bottom {
            display: none;
        }
        .arrow-right {
            display: block;
            padding: 1rem;
            font-size: 42px;
            display: flex;
            align-items: center;
        }
    }

    @media screen and (min-width: 1280px) {
    }
</style>
