---
import { FaDiscord } from "react-icons/fa";
---

<button type="button" class="discord-btn">
    <FaDiscord size="2rem" />
    <span><slot /></span>
</button>
<style>
    button {
        background-color: #b093ff;
        padding: 20px 80px;
        font-size: 24px;
        border: 1px solid #333;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;

        span {
            padding: 0 1em;
        }
    }
</style>
