---
import { FaDiscord } from "react-icons/fa";
const { padding } = Astro.props;
---

<button type="button" class="discord-btn">
    <FaDiscord size="2rem" />
    <span><slot /></span>
</button>
<style define:vars={{ padding }}>
    .discord-btn {
        background-color: #b093ff;
        padding: var(--padding);
        font-size: 20px;
        border: 1px solid #333;
        cursor: pointer;
        border-radius: 2px;
        display: inline-flex;
        align-items: center;

        span {
            padding: 0 1em;
        }
    }
</style>
