---
import { FaDiscord } from "react-icons/fa";
---

<button type="button" class="discord-btn">
    <FaDiscord size="2rem" />
    <span><slot /></span>
</button>
<style>
    .discord-btn {
        background-color: #b093ff;
        padding: 15px 25px;
        font-size: 20px;
        border: 1px solid #333;
        cursor: pointer;
        border-radius: 2px;
        display: inline-flex;
        color: black;
        align-items: center;

        span {
            padding: 0 1em;
        }
    }
</style>
