---
import { FaDiscord } from "react-icons/fa";
const { fontSize = "24px" } = Astro.props;
---

<button type="button" class="discord-btn">
    <FaDiscord size="2rem" />
    <span><slot /></span>
</button>
<style define:vars={{ fontSize }}>
    button {
        background-color: #b093ff;
        padding: 20px 80px;
        font-size: var(--fontSize, 24px);
        border: 1px solid #333;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;

        span {
            padding: 0 1em;
        }
    }
</style>
