---
import Button from "./Button.astro";

const { style } = Astro.props;
---

<div style={style}>
    <h1>タイトル</h1>
    <p>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    </p>
    <div style="display: flex; justify-content: flex-end;padding-top: 60px;">
        <Button>Discordへ</Button>
    </div>
</div>
