<h2>
    <slot />
</h2>

<style>
    h2 {
        text-align: center;
        /* 24 ~ 48px */
        font-size: clamp(1.5rem, 0.878rem + 2.65vw, 3rem);
        text-decoration: underline;
    }
</style>
