<h2>
    <slot />
</h2>

<style>
    h2 {
        text-align: center;
        font-size: 35px;
        padding: 1.5rem 3rem;
        background-color: rgb(88, 148, 88);
        color: white;
        border-radius: 2px;
        letter-spacing: 3px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>
