<h2>
    <slot />
</h2>

<style>
    h2 {
        text-align: center;
        /* 24 ~ 40px */
        font-size: clamp(1.5rem, 1.086rem + 1.77vw, 2.5rem);
        text-decoration: underline;
    }
</style>
