---
const { heading, text, smallText } = Astro.props;
---

<div class="text-wrap">
    <h3>{heading}</h3>
    <p class="text-content">
        {text}
    </p>
    <p class="bottom">
        <small>{smallText}</small>
    </p>
</div>

<style>
    .text-wrap {
        width: 93%;
        text-align: center;
        margin-top: 1.5rem;

        h3 {
            padding-bottom: 10px;
            /* 28 ~ 30px */
            padding-left: 1em;
        }
        .text-content {
            /* 14 ~ 16px */
            text-align: justify;
        }
    }
    .bottom {
        text-align: center;
        margin-top: 10px;
        /* 12 ~ 16px */
        font-size: 12px;
    }

    @media screen and (min-width: 768px) {
        .text-wrap {
            width: 59%;
        }
    }
    @media screen and (min-width: 1280px) {
    }
</style>
