---
const { heading, text, smallText } = Astro.props;
---

<div class="text">
    <h3>{heading}</h3>
    <p class="text-content">
        {text}
    </p>
    <p class="bottom">
        <small>{smallText}</small>
    </p>
</div>

<style>
    .text {
        width: 84%;
        text-align: center;
        margin-top: 1.5rem;

        h3 {
            padding-bottom: 20px;
        }
        .text-content {
            font-size: var(--normal);
            text-align: center;
        }
    }
    .bottom {
        text-align: center;
        margin-top: 10px;
    }
</style>
