---
const { heading, text, smallText } = Astro.props;
---

<div class="text">
    <h3>{heading}</h3>
    <p class="text-content">
        {text}
    </p>
    <p class="bottom">
        <small>{smallText}</small>
    </p>
</div>

<style>
    .text {
        width: 90%;
        text-align: center;
        margin-top: 1.5rem;

        h3 {
            padding-bottom: 10px;
            font-size: 5vw;
            padding-left: 1em;
        }
        .text-content {
            font-size: 3vw;
            text-align: center;
        }
    }
    .bottom {
        text-align: center;
        margin-top: 10px;
        font-size: 2.5vw;
    }
</style>
