---
import Button from "@components/Button.astro";
import Container from "@layouts/Container.astro";
---

<div
    style="padding:30px 0; text-align: center; background-color: rgb(210, 210, 210);"
>
    <Container>
        <div>
            <Button>参加はこちらから！</Button>
        </div>
    </Container>
</div>
