---
import Heading from "@components/Heading.astro";
import Container from "@layouts/Container.astro";
import movieIMG from "@assets/vku_seisakuka.png";
import TextBox from "@components/TextBox.astro";
---

<div
    id="movie"
    style="height:100vh; width:100%;padding-bottom: 50px; background-color:gray;"
>
    <Container>
        <Heading>動画制作などの依頼</Heading>
        <div
            style=" display:flex; align-items:center; height:calc(100% - 122px);"
        >
            <TextBox
                heading="動画制作などの依頼ができます。"
                text="V区民は格安の価格帯で、切り抜き動画編集・イラスト制作・ホームページ制作などの制作依頼ができます。"
                smallText="※依頼費用が全く無い方向けのプランもご用意しています。"
            />
            <div class="image">
                <img src={movieIMG.src} alt="" />
            </div>
        </div>
    </Container>
</div>

<style>
    .image {
        background-color: antiquewhite;
        width: 80%;
        height: 65%;
        /* margin-top: 10%;*/
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        img {
            width: 100%;
        }
    }
    /* .text {
        width: 70%;
        text-align: center;
        margin-right: -30%;
        margin-top: auto;
        background-color: thistle;
        height: fit-content;
        padding: 30px 35px;
        border-radius: 20px;
        border: 1px solid;
        z-index: 3;

        h3 {
            padding: 20px;
            font-size: 24px;
        }
        p {
            text-align: left;
        }
    } */
</style>
